<h1>Victory is yours!</h1>
<p>Let the annals show that {{character.character_name}} slain the mighty {{enemy.character_name}} in epic combat on this great day in history!</p>
<p>Congratulations {{user.username}}</p>
<p>{{character.character_name}} earned a Score of {{game.score}} with this victory.</p>
