<h1>Victory is yours!</h1>
<p>Let the annals show that {{character.character_name}} slain the mighty {{enemy.character_name}} in epic combat on this great day in history!</p>
<p>Congratulations {{user.username}}</p>
<p>{{character.character_name}} earned a Score of {{game.score}} with this victory.</p>
<p>If you dare to test yourself against {{enemy.character_name}} again, select below.</p>
<a href="/battle" id="charSelectButton">Commence Battle</a>
<p>If you have left everything on the battle field, exit here.</p>
<a href="/home" id="exitGameButton">Home</a>