
  <header id="battle-header">
    <h1>Choose your attack...</h1>
  </header>
  <main class="container" id="battle-field">
    <section class="player" id="user">
      <div>
      <h2>{{character.character_name}}</h2>
      <div class=" animate__animated">
          <img class="player-pic" src="{{character.image}}">
        </div>
      </div>
      <div id="attacks">
        <button id="attack1">Attack1</button>
        <button id="attack2">Attack2</button>
        <button id="attack3">Attack3</button>
      </div>
      <div id="charHP">
        {{character.health}}
      </div>
    </section>
    <section class="player" id="boss">
      <div>
      <h2>{{enemy.name}}</h2>
      <div class=" animate__animated">
          <img class="player-pic" src="/images/{{enemy.image}}">
        </div>
      </div>
      <div id="enemyHP">
        {{enemy.hp}}
      </div>
    </section>
  </main>
  <script src="/js/battleMechanics.js"></script>