<h1>{{sendUser.username}}</h1>
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{sendGame.image}}" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{sendGame.character_name}}</p>
        <p class="subtitle is-6">Score: {{games.score}}</p>
      </div>
    </div>
    <div class="content">
      <ul>
        <li>Damage: {{sendGame.damage}}</li>
        {{!-- <li>Strong Attack: {{character.strong}}</li> --}}
        {{!-- <li>Wisdom Attack: {{character.wisdom}}</li>  --}}
      </ul>
    </div>
  </div>
</div>
<a href="/battle" id="charSelectButton">Commence Battle</a>

{{!-- {{#each character as |character|}}
{{> character}}
{{/each}} --}}